<div class="body">
    <div class="game">
        <div class="scissors-box">
            <div class="btn scissors-gradient">
                <span class="btn-shadow-inside"></span>
                <img class="btn-image" src="assets/images/icon-scissors.svg" alt="scissors">
            </div>
        </div>
        <div class="cyan-paper-box">
            <div class="btn cyan-gradient">
                <span class="btn-shadow-inside"></span>
                <img class="btn-image" src="assets/images/icon-spock.svg" alt="spock">
            </div>
            <div class="btn paper-gradient">
                <span class="btn-shadow-inside"></span>
                <img class="btn-image" src="assets/images/icon-paper.svg" alt="paper">
            </div>
        </div>
        <div class="lizard-rock-box">
            <div class="btn lizard-gradient">
                <span class="btn-shadow-inside"></span>
                <img class="btn-image" src="assets/images/icon-lizard.svg" alt="lizard">
            </div>
            <div class="btn rock-gradient">
                <span class="btn-shadow-inside"></span>
                <img class="btn-image" src="assets/images/icon-rock.svg" alt="rock">
            </div>
        </div>
        <div class="rules">
            <button (click)='rulesModal()'>RULES</button>
        </div>
    </div>
</div>

