@import "/src/variables";

.body{
    .game.initial{
        background: url("~src/assets/images/bg-pentagon.svg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        width: 500px;
    }   
    .game.combat{
        width: 100%;
        .combat-box{
            width: 500px;
            display: flex;
            transform: translateY(200px);
            justify-content: space-between;
            margin: auto;

            .result-container{
                display: grid;
                height: 130px;
                .result-text{
                    font-size: 50px;
                    font-weight: 900;
                    color: white;
                }
                .play-again-btn{
                    background: white;
                    outline: none;
                    border: none;
                    border-radius: 10px;
                    height: 46px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }
            }

            .btn-container{
                transform: scale(1.75);
                margin: initial !important;
                width: initial !important;
                padding-left: 16px !important;

                .picked-text{
                    transform: translate(0px, -50px);
                    display: block;
                    font-size: 12px;
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .game{
        text-align: center;
        margin: auto;

        .btn-container-spock, .btn-container-lizard{
            margin-right: auto;
            padding-left: 16px;
            width: 128px;
        }
        .btn-container-paper, .btn-container-rock{
            margin-left: auto;
            padding-left: 16px;
            width: 128px;
        }
        .btn-container-scissors{
            margin: auto;    
            width: 144px;
        }

        .btn-container{
            height: 133px;
            padding-top: 16px;
            transform: translateY(0px);
            transition: all .2s;
            cursor: pointer;
        }

        .btn-container:hover{
            transform: translateY(-5px);
            transition: all .2s;
        }

        .scissors-box{
            transform: translateY(-10px);

            .btn{
                margin: auto;
            }
        }

        .spock-paper-box{
            display: flex;
            transform: translateY(-30px);
            justify-content: space-between;
            width: 450px;
            margin: auto;
        }

        .lizard-rock-box{
            display: flex;
            transform: translateY(20px);
            justify-content: space-between;
            width: 350px;
            margin: auto;
        }

        .btn-shadow-inside{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 111px;
            height: 106px;
            border-radius: 69px;
            margin: auto;
            border-top: 5px solid #b9bdd6bf;
        }

        .btn{
            background-color: white; 
            border-radius: 50%;
            width: 111px; 
            height: 111px; 
            position: relative;
            

            .btn-image{
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                margin: auto;
            }
        }
        .btn:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -16px;
            border-radius: inherit;
        }
        .btn:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -2;
            margin: -16px;
            border-radius: inherit;
            margin-bottom: -22px;
        }
        .scissors-gradient:before{
            background: $scissorsGradient;
        }
        .scissors-gradient:after{
            background: hsl(29deg 72% 44%);
        }
        .spock-gradient:before{
            background: $spockGradient;
        }
        .spock-gradient:after{
            background: hsl(195deg 59% 43%);
        }
        .paper-gradient:before{
            background: $paperGradient;
        }
        .paper-gradient:after{
            background: hsl(229deg 64% 45%);
        }
        .lizard-gradient:before{
            background: $lizardGradient;
        }
        .lizard-gradient:after{
            background: #5e37a9;
        }
        .rock-gradient:before{
            background: $rockGradient;
        }
        .rock-gradient:after{
            background: #a11834;
        }

    }
    .rules{
        position: absolute;
        right: 0;
        margin-right: 50px;
        bottom: 0;
        margin-bottom: 20px;

        button{
            cursor: pointer;
            font-family: "Barlow Semi Condensed";
            background-color: transparent;
            outline: none;
            border: 1px solid white;
            padding: 10px 30px;
            border-radius: 10px;
            color: white;
            font-size: 17px;
            letter-spacing: 3px;
            text-align: center;
        }
    }
}


@media(max-width: 1000px){
    .body{
        .game.initial{
            width: 100%;
            background-size: 200px !important;
        }
        
        .game.combat{
            .combat-box{
                transform: translateY(80px);
                .result-container{
                    width: 200px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 150px;
                }
                .btn-container{
                    transform: scale(1.25);
                }
                .btn-container:nth-of-type(1){
                    padding-left: 0px !important;
                    padding-right: 16px !important;
                }
            }
        }
        .game{
            width: 100%;
            background-size: 200px;

            .btn-container{
                height: 84px;
                padding-top: 10px;
            }

            .btn-container-spock, .btn-container-lizard{
                width: 81px;
            }
            .btn-container-paper, .btn-container-rock{
                width: 81px;
            }
            
            .scissors-box{
                width: 100% !important;
                transform: translateY(-5px) !important;            
            }
            .spock-paper-box{
                width: 296px !important;
                transform: translateY(-15px) !important;            
            }
            .lizard-rock-box{
                width: 225px !important;
                transform: translateY(5px) !important;
            }

            .btn:before{
                margin: -10px;
            }

            .btn:after{
                margin: -10px;
                margin-bottom: -14px;
            }

            .scissors-box{
                width: 80%;
            }
            .spock-paper-box{
                width: 80%;
            }
            .lizard-rock-box{
                width: 80%;
            }
            .btn{
                width: 70px;
                height: 70px;

                .btn-image{
                    width: 50%;
                }
            }
            .btn-shadow-inside{
                width: 70px;
                height: 70px;
            }

        }
        .rules{
            right: 0;
            left: 0;
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
    }
    
}