@import "/src/variables";

.header {
    border: 3px solid $headerOutline;
    border-radius: 15px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    .header-content{
        padding: 13px 20px;
        display: flex;
        justify-content: space-between;

        .game-name{
            display: grid;
        }

        .game-name span{
            color: white;
            font-size: 23px;
            line-height: .9;
            font-weight: 700;
        }
        .score{
            background-color: white;
            width: 140px;
            height: 100px;
            border-radius: 8px;

            .score-box{
                text-align: center;
                padding-top: 15px;
                display: grid;

                .score-title{
                    font-size: 15px;
                    letter-spacing: 4px;
                    color: $scoreText;
                }
                .score-number{
                    font-size: 45px;
                    font-weight: 700;
                    color: $darkText;
                }
            }
        }
    }
}

@media(max-width: 1000px){
    .header{
        width: 90%;
        margin-bottom: 50px;
        .header-content{
            .game-name span{
                font-size: 16px;
            }
            .score{
                height: 70px;
                width: 75px;
                .score-box{
                    .score-title{
                        font-size: 10px;
                    }
                    .score-number{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}