@import '/src/variables';

body{
    margin: 0;
    font-family: "Barlow Semi Condensed";
    background: $radialGradient no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}